
<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/style.css" rel="stylesheet" type="text/css">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <div class="grid-container">
      <div class="two"><h2>User Dashboard<h2></div>
  </div>
    

  </nav>