<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/style.css" rel="stylesheet" type="text/css">



<nav class="navbar sticky-top  bg-dark navbar-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">Krypton Cloud Gaming</a>
    </div>
    <div class="mr-auto">
        <ul class="nav navbar-nav d-flex flex-row ">
            <li class="nav-item">
                <form action="/dashboard?_method=GET" method="POST">
                    <button type="submit" class="btn btn-secondary btn-block mx-2">Dashboard</button>
                </form>
            </li>
        </ul>
    </div>
    <div>
        <ul class="nav navbar-nav d-flex flex-row">
            <li class="nav-item">
                <form action="/all?_method=GET" method="POST">
                    <button type="submit" class="btn btn-secondary btn-block mx-2">More Games</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-secondary btn-block mx-3">Log Out</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
  <div class="Lform"><h2 style="color:rgba(255, 255, 255, 0.75)">Change Password<h2></div>
  <form action="/settings" method="POST" class="form">
    <div class="form-group">
      <label for="password">Old Password</label>
      <input type="password" class="form-control" id="password" name="opassword" required>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" class="form-control" id="password" name="npassword" required>
    </div>
    <div class="form-group">
      <label for="password">Confirm New Password</label>
      <input type="password" class="form-control" id="password" name="cpassword" required>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Change Password</button>
</form>
</div>

<% if (messages.error) { %>
  <%= messages.error %>
<% } %>